<!--
  @author      : 00xWolf
    GitHub    : @mmsaeed509
    Developer : Mahmoud Mohamed
  﫥  Copyright : Mahmoud Mohamed
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exodia OS</title>

</head>

<body>

    <header>
    
		<h1>Welcome to Exodia OS</h1>
    
	</header>

    <div class="container">

        <div class="about">

            <h2>About Exodia OS</h2>

            <p>
                Exodia OS is a highly customized Arch-based Linux distribution built for and by cybersecurity experts, as well as daily usage. It is capable of performing the most rigorous penetration tests and handling everyday tasks. Even if you're not a cybersecurity enthusiast, you'll appreciate Exodia OS for its aesthetically pleasing interface, tools, and features. Overall, Exodia OS is an excellent choice for programming and development, operations security, OSINT, and daily usage.
            </p>

            <p>
                Proudly developed in Egypt 🇪🇬 by Cyb3rTh1eveZ Team.
            </p>

            <h3>Key Benefits:</h3>
            
			<ul>
                <li>Comes with BSPWM (a tiling window manager) and 20 tailor-made fancy themes.</li>
                <li>Preinstalled cybersecurity tools for all branches of cybersecurity.</li>
                <li>Currently available in 3 editions: Home, Predator, and Wireless.</li>
                <li>Offers 2 window managers: BSPWM and DWM, with plans to add more DEs and WMs.</li>
            
			</ul>
        
		</div>

    </div>

</body>

</html>
